body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.about {
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.flex {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 120px;
}

.fa-html5 {
    padding: 10px;
}

.fa-css3-alt {
    padding: 10px;
}

.fa-js-square {
    padding: 10px;
}

.fa-bootstrap {
    padding: 10px;
}

.fa-react {
    padding: 10px;
}

.fa-git-square {
    padding: 10px;
}


hr {
    background-color: red;
    height: 1px;
    margin: 10px 40px 10px 40px;
    
}

.intro {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-solid {
    color: black;
    padding: 10px;
    font-weight: 700;

}

.title, .col {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

header, .row {
    display: flex;
  }
  
  .col {
    flex: 1;
    text-align: center;
    justify-content: center;
  }

#github {
    padding: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: black;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 20px;

}

#linkedin {
    padding: 10px;
}

#email {
    padding: 10px;
}

#laptopncoffee {
    height: 140px;
    padding-top: 10px;
}